.projects{
    display: flex;
    flex-direction: column;
    background-color: rgb(230,218,206);
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 200px 0 0 0;
}

.pro-1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.pro-1 span{
    border: 8px solid blue;
    height: 7px;
}

.pro-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.pro-2-p{
    font-size: 20px;
    font-weight: 700;
}

.pro-3{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    background-color: white;
    width: 50vw;
    gap: 20px;

}

.pro-left{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    width: 50vw;
    gap: 30px;
    padding: 65px 0;
}

.pro-left-1{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.pro-left-1 span{
    border: 4px solid blue;
    height: 70px;
}

.left-1{
    display: flex;
    width: 48vw;
    flex-direction: column;
    justify-content: center;
}

.left-1 h1{
    font-size: 25px;
}

.left-1 p{
    font-size: 16px;
    /* width: 30vw; */
    font-weight: 700;
}

.left-2{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.8px;
}

.pro-left-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pro-right{
    display: flex;
    width: 20vw;
}

.pro-right img{
    width: 20vw;
}

@media only screen and (max-width:900px){
    .pro-3{
        flex-direction: column;
        gap: 0px;
    }

    .pro-left{
        width: 50vw;
        padding: 10px 0;
    }

    .pro-left-2{
        padding-right: 5vw;
    }

    .pro-right{
        width: 50vw;
    }

    .pro-right img{
        width: 50vw;
    }
}