.res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: rgb(230,218,206);
    padding: 200px 0 0 0;
    gap: 20px;
}

.res-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.res-1 span{
    border: 8px solid blue;
    height: 6px;
}

.res-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

.res-2 p{
    border: 2px solid pink;
    border-radius: 30px;
    padding: 20px;
    font-size: 17px;
}

@media only screen and (max-width:550px){
    .res-1{
        width: 50%;
    }
}